.Price{
    position: relative;
    font-size: 32px;
    background-color: transparent;
}

.Price input{
    position: relative;
    font-size: 32px;
    text-align: right;
    font-family: monaco,Consolas,Lucida Console,monospace; 
    border: none;
    outline-width: 0;
    cursor: default;
    color: transparent;
    background-color: transparent;
    width: 100%;
}