.CurrentAmountContainer {
    height: 96px;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(0deg, rgba(232,237,244,1) 0%, rgba(227,232,239,1) 100%);
}